/* Estilos del header */
body {
	margin: 0;
}

.header {
    margin: 0;
    padding: 5px;
    height: auto;
    width: 100%;
    background-color: #070707;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	position:fixed;
}

.logoheader{
	width: 300px;
}

.listamenu {

    display: flex;
    flex-direction: row;
    list-style: none;
}

.menu-item {
    margin-left: 25px;
	margin-right: 25px;
	text-decoration: none;
}

.menu-item:hover {
	background-color: #D63447;
}

.item-menu {
	text-decoration: none;
	color: white;
	letter-spacing: 1px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

@media screen and (max-width: 1200px){
	
}

@media screen and (max-width: 768px){
	.header {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.registrate {
		display: none;
	}
}

@media screen and (max-width: 480px){
	.menu-item {
	  margin-left: 5px;
	  margin-right: 5px;
	}
	.item-menu {
    font-size: 13px;
	}

}

/*Estilos del main*/

.main {
    margin: 0;
    padding: 5px;
    height: auto;
    width: 100%;
    background-color: #263238;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: baseline;
}

/*Estilos Div Inicio*/

.inicio {
    padding: 2%;
	padding-top: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.titulopartido {
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
	height: 100px;
}

.titulo1 {
    margin: 0;
    padding: 5px;
    font-family:'Poppins', sans-serif;
    color: #D63547;
    font-size: 85px;
}

.rockearla {
    font-family: 'Abril Fatface', cursive;
    color: white;
    font-size: 180px;
}


/*Estilos Div Buscadores*/

.buscadores {
    margin: 0;
    padding: 10px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.buscador {
    margin: 50px;
    padding: 0px;
    height: auto;
    width: auto;
    border-radius: 5%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
	overflow: hidden;
}

.img-buscador {
	width: 100%;
}

.texto {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 30px;
	font-weight: 600;
}

.texto-buscador {
	width: 90%;
	text-align: center;
}

.boton-buscador {
    margin: 5px;
    margin-bottom: 25px;
    display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 90%;
    align-items: center;

}

.boton-main {
    margin-left: 40px;
    height: 50px;
}

.button {
    width: 120px;
    border-radius: 5px;
    background-color: #FFE350;
    font-family:'Poppins', sans-serif;
    color: black;
    font-size: 1rem;
    
}

.button-large {
    width: 451px;
	height: 56px;
	border-radius: 5px;
    background-color: #FFE350;
    font-family:'Poppins', sans-serif;
    color: black;
    font-size: 1rem;
    
}

.button-borrar {
    width: 120px;
    border-radius: 5px;
    background-color: #E0E0E0;
    font-family:'Poppins', sans-serif;
    color: black;
    font-size: 1rem;
    
}

/*Estilos Div Carrusel*/

.carrusel {
    margin: 0px;
    padding-top: 300px;
	padding-bottom: 290px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    background-image: url("./img/circulo.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment:unset;

}

.titulo-carrusel {
    
}

.sub-carrusel{
	font-family:'Poppins', sans-serif;
    color: white;
    font-size: 70px;
	font-weight: 900;
}

.subtitulo {
    font-family:'Poppins', sans-serif;
    color: white;
    font-size: 45px;
	font-weight: 600;
}

.cards-carrusel {

    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
	
}

.card-carrusel {
    margin: 25px;
    padding: 0;
}

.img-carrusel{
	width: 110%;
	transition: 0.5s;
	object-fit: cover;
}

.img-carrusel:hover {
	transform: scale(1.1)
}
.div-form {
    margin-top: 20px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contacto {
    margin: 20px;
    padding: 50px;
    border-radius: 10px;
    background-color: white;
    font-family:'Poppins', sans-serif;
    color: black;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
}

.formulario {
	display: flex;
	flex-direction: row;
}

.form-item {
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.input {
	padding: 20px;
	border-style: ridge;
	border-radius: 10px;
	width: 300px;
	border-color: black;
}

.botones-form {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

/*_Estilos del Footer*/

.footer {
    margin: 0;
    padding: 5px;
    height: auto;
    width: 100%;
    background-color: #D63547;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.footer-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}

.texto-white {
    font-family:'Poppins', sans-serif;
    color: white;
    font-size: 16px;
}

.foot {
    margin: 10px;
    padding: 5px;
	text-decoration: none;
}

.foot:hover {
	color: #FFEE96;
}

@media screen and (max-width: 1200px) {
	
}

@media screen and (max-width: 768px) {
	
	.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
	}
	.division {
		display: none;
	}
	.preg {
		display: none;
	}
}


/*ESTILOS FRAME ARTISTAS*/

.main-artistas {
    margin: 0;
    padding: 5px;
    height: auto;
    width: 100%;
    background-color: #263238;
}

.intro {
    margin: 10px;
    padding: 50px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;

}
.subtitulo-red {
    color: #CE2135;
    font-family:'Poppins', sans-serif;
	font-weight: 800;
    font-size: 75px;
}

.texto-normal {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 32px;
    text-align:start;
	width: 80%;
}

.link-bandas {
	text-decoration: none;
}

/*Estilos divs del Main Artistas*/

.subtitulos-frameartistas {
	margin: 10px;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    color: white;
    font-weight: 600; 
    text-align: left;

}

.div-artistas {
    margin: 10px;
    padding: 50px;
    width: auto;
    height: auto;
	display: grid;
/*	grid-template-columns: repeat (5, 1fr); -- ESTE NO ME FUNCIONÓ*/
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	gap: 10px;
}

.card-artistas {
    margin: 10px;
    padding: 0px;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 20px;
    background-color: white;
	overflow: hidden;
	transtion: 0.5s;
	object-fit: cover;
}

.card-artistas:hover {
	transform: scale(1.1)
}
.img-carrusel{
	transition: 0.5s;
	object-fit: cover;
}

.img-carrusel:hover {
	transform: scale(1.1)
}

.sub-card {
	padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: black;
   
}

.sub-estilo {
	padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    font-weight:lighter;
    font-style: italic;
}

.lugar {
	padding-left: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    font-weight:normal;

}


@media screen and (max-width: 1200px) {
	.subtitulo-red {
		font-weight: 600;
		font-size: 45px;
	}
	
	.texto-normal {
		font-size: 22px;
	}
	.subtitulos-frameartistas {
    font-size: 35px;
    font-weight: 400;    
	}
	
	.div-artistas {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 10px;
}
}

@media screen and (max-width: 768px) {
	.div-artistas {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	}
	
}

@media screen and (max-width: 480px) {
	.div-artistas {
	display: grid;
	grid-template-columns: 1fr;
	gap: 10px;
	}
	
}

/*Estilos Frame Ciruelo*/

.titulo-style {
	font-family: 'Abril Fatface', cursive;
    color: white;
    font-size: 62px;
}

.banda {
	margin: 10px;
	padding: 50px;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
}

.cards-banda {
	display: flex;
	flex-direction: row;
	
}

.texto-banda {
	font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 32px;
    text-align:start;
	width: 80%;
	padding-left: 50px;
	margin: 10px;
}


.discos {
	display: flex;
	flex-direction: column;
	
}

.cards-discos {
	margin: 10px;
	padding: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


.sub-banda { 
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    color: white;
}

.sub-fecha {
	font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: white;
	font-weight: 300;
}

.div-redes {
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: flex-start;
	width: 80%;
	height: auto;
	margin: 10px;
	padding: 100px;
}

